<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aorise.mapper.statistic.ActionStatisticsMapper">
    <resultMap id="DetailMap" type="com.aorise.model.statistic.StatisticModel">
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>
    <!--根据时间段查询联保行动次数-->
    <select id="getActionByTime" parameterType="java.util.Map" resultType="Integer" statementType="PREPARED">
        SELECT "sum"(X) from (SELECT "count"(1) X from site_visits_info where to_char(create_time,'yyyy-MM')=#{dateTime}
        UNION ALL
        SELECT "count"(1) X from stop_work_info where  to_char(create_time,'yyyy-MM')=#{dateTime}
        UNION ALL
        SELECT "count"(1) X from construction_hidden_info where  to_char(create_time,'yyyy-MM')=#{dateTime}
        UNION ALL
        SELECT "count"(1) X from petitioning_info where  to_char(create_time,'yyyy-MM')=#{dateTime}
        ) AS X
    </select>
    <!--根据地区查询联保行动次数-->
    <select id="getActionByArea" parameterType="java.util.Map"  resultType="Integer" statementType="PREPARED">
        SELECT "sum"(X) from (SELECT "count"(1) X from site_visits_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
          AND   to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM')  and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        <if test="county!=null and county!=''">
            AND county=#{county}
        </if>
        UNION ALL
        SELECT "count"(1) X from stop_work_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND     to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM')  and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        <if test="county!=null and county!=''">
            AND county=#{county}
        </if>
        UNION ALL
        SELECT "count"(1) X from construction_hidden_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND     to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM') and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        <if test="county!=null and county!=''">
            AND county=#{county}
        </if>
        UNION ALL
        SELECT "count"(1) X from petitioning_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND    to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between  to_timestamp(#{startDate},'yyyy-MM') and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        <if test="county!=null and county!=''">
            AND county=#{county}
        </if>
        ) AS X
    </select>
    <!--根据类型查询联保行动次数-->
    <select id="getActionByType" parameterType="java.util.Map" resultMap="DetailMap" statementType="PREPARED">
SELECT(SELECT "count"(1) from site_visits_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND  to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM') and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        )  AS visits,
(SELECT "count"(1)  from stop_work_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND  to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM') and   to_timestamp(#{endDate},'yyyy-MM')
    </if> )as work,
(SELECT "count"(1)  from construction_hidden_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND  to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM') and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        )as hidden,
(SELECT "count"(1)  from petitioning_info where 1=1
        <if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
            AND  to_timestamp(to_char(create_time,'yyyy-MM'),'yyyy-MM')  between to_timestamp(#{startDate},'yyyy-MM') and   to_timestamp(#{endDate},'yyyy-MM')
        </if>
        )as petition
    </select>
</mapper>